<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Korompai PhotoVersor" Language="1033" Version="1.0.0.0" Manufacturer="Daniel Korompai" UpgradeCode="882a9e20-75d0-45a7-a385-990e45cab440">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <!-- Step 1: Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="KorompaiPhotoVersor">
          <Directory Id="PHOTOORGANIZERUI" Name="Components">
            <Directory Id="RESOURCES" Name="Resources">
              <Directory Id="WEB" Name="Web">
              </Directory>
              <Directory Id="BIN" Name="Binaries">
                <Directory Id="X64" Name="Platform">
                  <Directory Id="DEBUG" Name="Configuration">
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="PROGRAMDATA" Name="ProgramData">
            <Directory Id="BACKUP" Name="Backup">
            </Directory>
            <Directory Id="ERORLOGS" Name="ErrorLogs">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Step 2: Add files to your installer package -->
    <DirectoryRef Id="DEBUG">
      <Component Id="PhotoOrganizer.UI.exe" Guid="0047A6C9-668B-4460-9D3A-2E7E8F202965">
        <File Id="PhotoOrganizer.UI.exe" Source=".\..\PhotoOrganizer.UI\bin\x64\Debug\PhotoOrganizer.UI.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="PROGRAMDATA">
      <Component Id="appSettings.json" Guid="7DC27823-460E-40A6-BAA5-3EE543C72A95">
        <File Id="appSettings.json" Source=".\..\ProgramData\appSettings.json" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PhotoVersor.mdf" Guid="6C5F6744-A05E-4E9B-894D-741BCBAC9422">
        <File Id="PhotoVersor.mdf" Source=".\..\ProgramData\PhotoVersor.mdf" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PhotoVersor_log.ldf" Guid="5D0C3F28-32EB-4929-AA88-DA03386B3814">
        <File Id="PhotoVersor_log.ldf" Source=".\..\ProgramData\PhotoVersor_log.ldf" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Step 3: Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="PhotoOrganizer.UI.exe" />
    </Feature>
    <Feature Id="Settings" Title="Settings" Level="1">
      <ComponentRef Id="appSettings.json" />
    </Feature>
    <Feature Id="Db" Title="Db" Level="1">
      <ComponentRef Id="PhotoVersor.mdf" />
    </Feature>
    <Feature Id="Db_log" Title="Db_log" Level="1">
      <ComponentRef Id="PhotoVersor_log.ldf" />
    </Feature>

  </Product>
</Wix>

<!--
<Directory Id="" Name=" ">
</Directory>
          
-->